input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.enteredInput{
    margin-bottom: 10px;
}

.checkedInput{
    margin: 100px 0px 10px 0px;
}